<!DOCTYPE html>
<html lang='pt' data-ng-app="app">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Base Progs</title>
 
<link rel="stylesheet" href="{{ assets('bower/bootstrap/dist/css/bootstrap.css')}}" media="screen">

  </head>
  <body ng-controller="AppController" >

 <h1 class="title">Component Router</h1>
   <div ng-viewport>loading...</div>
  
<script type="text/javascript" src="{{ assets('bower/angular/angular.js')}}"></script>
<script type="text/javascript" src="{{ assets('bower/angular-new-router/dist/router.es5.js')}}"></script>
<script type="text/javascript" src="{{ assets('components/home/home.js')}}"></script>
<script type="text/javascript" src="{{ assets('components/app.js')}}"></script>
  </body>
</html>
